<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python List Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! üíªüêç `

### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [ ]:
# Please write The solution Here for above question 1:
a=[10,11,12,13]
c=0
for i in a:
  c=c+1
print(c)

4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [ ]:
# Please write The solution Here for above question 2:

var=[10,11,12,13,14,15]
a=max(var)
b=min(var)
print(f'max {a} ,  min {b}')

max 15 ,  min 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [1]:
# Please write The solution Here for above question 3:
a=[1,2,3,4,2,5]
b=int(input())
if b in a:
  a.remove(b)
print(a)

2
[1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [ ]:
# Please write The solution Here for above question 4:

pass

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [24]:
# Please write The solution Here for above question 5:

a=[1,2]
if i in a:
  print("result: not empty")
else:
  print("result: empty")

result: empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [25]:
# Please write The solution Here for above question 6:

a=[1,2,3,4,2,5]
b=a.index(3)
print(f'result: 3 index is {b}')

result: 3 index is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [9]:
# Please write The solution Here for above question 7:

var = [134,121,155]
for i in var:
  a=str(i)
  b=a[::-1]
  if a==b:
    print(f'palindrome: {i}')
  else:
    print(f'not a palindrome: {i}')

not a palindrome: 134
palindrome: 121
not a palindrome: 155

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [13]:
# Please write The solution Here for above question 8:
var1 = [1,2,3,4,10]
var2 = [10,11,12,14]
a=set(var1)
b=set(var2)
c=list(a.intersection(b))
print(f'result:{c[0]}')

result:10

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [14]:
# Please write The solution Here for above question 9:

var = [10,11,12,10,12,24]
res=[]
for i in var:
  if i not in res:
    res.append(i)
print(f'result:{res}')

result:[10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [15]:
# Please write The solution Here for above question 10:
a=['a' , 'c' , 'b']
a=sorted(a)
print(f'result: {a}')

result: ['a', 'b', 'c']